@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forum Replies";
}
@model DiscussionViewModel
@inject IHttpContextAccessor Context
<style>
    .body{
        font-family:Garamond;
        font-size: 16px;
    }
    .AddReplyPage{
        widht:100%;
        height:;
        background-color:;
    }
    .navbar{
        width: 100%;
        height: 69px;
        top: 0px;
        margin: 0 auto; /* Center the navbar horizontally */
        background-color: #B2EBF2;
        position: absolute;
        left: 0px;
        float: right;
    }
    .navbar a{
            margin-top: -8px;
            float: right;
            margin-right: 10px;
            margin-left: -130px;
            padding: 12px;
            font-size: 18px;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
    }

            .navbar a:Hover {
                background-color:beige;
                color: black;
            }

        .navbar span {
            float: right;
            margin-right: 10px;
            padding: 20px;
            font-size: 18px;
            margin-top: -8px;
            color: #000;
            text-decoration: none;
        }

    .ConneKt {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-top: 14px;
        display: inline-block;
        font-family: Garamond;
    }
    .discussionTitle{
        margin-top:10px;
        align-content:center;
        justify-content:center;
    }
    .discussionContent{
    
    }
    .card , .table{
        width: calc(100% - 216px);
        margin-top: 3%;
        border-collapse: collapse;
        margin-left: 3%;
        left: 155px;
    }
    .table tr{
            padding: 10px;
            text-align: center;
            width: calc(100% - 216px);
            left: 216px;
            justify-content: center;
            font-family: Garamond;
    }
    .discussionTitle{
        margin-top: 12px;
    }
    .discussionContent{
        margin-top:32px;
    }
    .Forum{
        margin-top:5%;
        left=0px;
    }
        .card:nth-child(even) {
        background-color: #EEEEEE;
        }

        .card:nth-child(odd) {
            background-color: #ffffff;
        }
        .NewReply{
            left:-10px;
            width:calc(100%-116px);
            margin-top:3%;
        }

    .rectangle3 {
        width: 216px;
        height: 1024px;
        background-color: #B2EBF2;
        position: absolute;
        top: 69px;
        margin-top: 0px;
        left: 0px;
    }

        /* Style the links in the rectangle */
        .rectangle3 a {
            margin-top: 15px;
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            color: #000000;
            text-decoration: none;
        }


            .rectangle3 a:hover {
                background: beige;
                color: #000;
            }
</style>
<body class="AddReplyPage">
    <div class="navbar">
        <em class="ConneKt">ConneKt Forum</em>
        <span></span><span>Hi! @Context.HttpContext.Session.GetString("UserName")</span>
        <a href="@Url.Action("ForumList", "User")">Forums</a>
        <a class="polls"  href="@Url.Action("Polls","User")"   >Polls</a>
        <a class="contactUs">Contact Us</a>
        <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
    </div>
    <div class="rectangle3">
        @{
            string userEmail = Context.HttpContext.Session.GetString("UserEmail");
            int userId = Context.HttpContext.Session.GetInt32("UserId") ?? 0;
        }
        <a href="@Url.Action("DiscussionList", "User", new { Id = userEmail})" class="myForums btn-active btn-outline-primary">
            My Forums
        </a>

        <a class="myPolls">My Polls</a>
        <a class="myMemory">My Memories</a>
        <a href="@Url.Action("EditProfile","Login", new {Id = userId} )" class="editProfile">Edit Profile</a>
        <a href="@Url.Action("DeleteProfile","Login", new {Id = userId} )" class="deleteProfile">Delete Profile</a>
        <a class="newAccount" asp-action="SignUp" asp-controller="Login"> New Account</a>
    </div>

    <div class="Forum">
        <table class="table">
            <br />
            <tr>
                <div class="card">
                    <div class="card-body">
                        <h4>@ViewBag.Discussion.title</h4>
                        <br />
                        <p style="border: solid 1 medium">@ViewBag.Discussion.content</p>
                        <br />
                    </div>
                </div>
                <div class="card" style="margin-left:100px;">
                    <div class="card-body">
                        @if (ViewBag.Replies.Count > 0)
                        {
                            foreach (var reply in ViewBag.Replies)
                            {
                                <div class="card-body">
                                <div class="reply border-1">
                                    <p style="font-size: 18px">@reply.replyContent</p>
                                    <p class="text-muted small">Replied by: @reply.Email on @reply.replyCreated.ToString("dd/MM/yyyy")</p>
                                </div>
                                <hr />
                                </div>
                            }
                        }
                        else
                        {
                            <p>No replies yet.</p>
                        }
                    </div>
                </div>
            </tr>
            
            <br />
            <tr>
                <div class="card">
                    <div class="card-body" style="background-color:#EEEEEE ">
                        <div class="NewReply">
                            <h3>Reply to this discussion</h3>
                            @using (Html.BeginForm("AddReply", "User"))
                            {
                                @Html.HiddenFor(model => model.newReply.forumId)
                                @Html.LabelFor(model => model.newReply.Email)
                                @Html.TextBoxFor(model => model.newReply.Email, new { @class = "form-control" })
                                @Html.LabelFor(model => model.newReply.replyContent)
                                @Html.TextAreaFor(model => model.newReply.replyContent, new { @class = "form-control" })
                                <br />
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}