@model ForumProject.Models.ForumCreationModel
@inject IHttpContextAccessor Context
@{
    ViewData["Title"] = "Create";
}
<style>
    .CreateForum{
        font-family:'Times New Roman', Times, serif;
        font-size:18px;
    }
    .navbar{
        top:0px;
        left:0px;
        background-color: #BBDEFB;
        color: white;
        width:100%;
        height:69px;
        position:absolute;
        float:right;
    }

        .navbar a {
            margin-top: -8px;
            float: right;
            margin-right: 0px;
            margin-left: -500px;
            padding: 12px;
            font-size: 18px;
            color: #000;
            text-decoration: none;
            border-radius: 5px;
        }

            .navbar a:Hover {
                background-color: #64B5F6;
                color: black;
            }

        .navbar span {
            float: right;
            margin-right: 5px;
            padding: 20px;
            font-size: 18px;
            margin-top: -8px;
            color: #000;
            text-decoration: none;
        }
        .conneKtForum{
            position: absolute;
            width: 180px;
            height: 29px;
            top: 18px;
            left: 27px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            text-align: left;
            color: #000;
        }

    .rectangle3 {
        width: 216px;
        height: 1024px;
        background-color: #BBDEFB;
        position: absolute;
        top:69px;
        margin-top: 0px;
        left: 0px;
    }

        /* Style the links in the rectangle */
        .rectangle3 a {
            margin-top: 15px;
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            color: #000000;
            text-decoration: none;
        }


            .rectangle3 a:hover {
                background: #64B5F6;
                color: #000;
            }
    .container{
        width:calc(100%-216px);
        margin-top:14px;
        line-height: 22px;

    }

    .control-label {
        font-family: 'Garamond';
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #2D0F6A;
    }

    .form-control {
        width: 100%;
        height: 43px;
        background: #F5F5F5;
        margin-bottom: 20px;
    }
    .card {
        width: 1089px;
        margin-top: 101px;
        border-collapse: collapse;
        margin-left: auto;
        left: 8px;
        padding:10px;
        line-height:22px;
        background-color: lightgrey;
    }

</style>
<body class="CreateForum">
    <div class="navbar">
        <em class="conneKtForum">ConneKt Forum</em>
        <span></span><span>Hi! @Context.HttpContext.Session.GetString("UserName")</span>
        <a href="@Url.Action("ForumList", "User")">Forums</a>
        <a class="polls">Polls</a>
        <a class="contactUs">Contact Us</a>
        <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
    </div>
    <div class="rectangle3">
        @{
            string userEmail = Context.HttpContext.Session.GetString("UserEmail");
            int userId = Context.HttpContext.Session.GetInt32("UserId") ?? 0;
        }
        <a href="@Url.Action("DiscussionList", "User", new { Id = userEmail})" class="myForums btn-active btn-outline-primary">
            My Forums
        </a>

        <a class="myPolls">My Polls</a>
        <a class="myMemory">My Memories</a>
        <a href="@Url.Action("EditProfile","Login", new {Id = userId} )" class="editProfile">Edit Profile</a>
        <a href="@Url.Action("DeleteProfile","Login", new {Id = userId} )" class="deleteProfile">Delete Profile</a>
        <a class="newAccount" asp-action="SignUp" asp-controller="Login"> New Account</a>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}