@model ForumProject.Models.ForumModel
@{
    ViewData["Title"] = "DeleteForum";
}
<style>
    .deletePage {
        background-color: #F3cde5;
        box-sizing: border-box;
        position: relative;
        margin: auto;
        font-family: 'Times New Roman', Times, serif
    }

    .navbar {
        width: calc(100% - 240px);
        height: 69px;
        top: 0px;
        margin: 0 auto; /* Center the navbar horizontally */
        position: absolute;
        left: 216px;
        float: right;
    }

        .navbar a {
            margin-top: -9px;
            float: right;
            margin-right: 4px;
            margin-left: 164px;
            padding: 12px;
            font-size: 20px;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 500;
        }

            .navbar a:Hover {
                background-color: #DEDEDE;
                color: black;
            }

        .navbar span {
            float: right;
            margin-right: 10px;
            padding: 20px;
            font-size: 18px;
            margin-top: -8px;
            color: #000;
            text-decoration: none;
        }

    .conneKtForum {
        position: absolute;
        width: 200px;
        height: 29px;
        top: 18px;
        left: -198px;
        font-family: 'Garamond';
        font-weight: 700;
        font-size: 27px;
        line-height: 29px;
        text-align: left;
        color: #000000;
    }

    .deleteBox {
        position: absolute;
        width: 600px;
        height: fit-content;
        top: 122px;
        left: 35%;
        background: #F2FCF0;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    dt {
        font-weight: bold;
        margin-bottom: 5px;
        float: left;
    }

    dd {
        margin: 0;
        line-height:26px;
    }
</style>

<body class="deletePage">
    <div class="navbar">
        <p class="conneKtForum">ConneKt Forum</p>
                <a href="@Url.Action("ForumList", "User")">Forums</a>
        <a class="polls" href="@Url.Action("Polls","User")">Polls</a>
        <!--a class="contactUs">Contact Us</!--a-->
        <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
    </div>
    <div class="deleteBox">
        <em style="font-weight:600; text-align:center ; font-family:Garamond; font-size: 23px;">Are you sure you want to delete this profile?</em>
        <br />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.forumId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.forumId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.category)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.title)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.content)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.forumCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.forumCreated)
            </dd>
        </dl>

        <form asp-action="DeleteForum" asp-controller="User" style="text-align:center">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn  btn-info btn-outline-dark" href="@Url.Action("EditForum","User", new {Id = Model.forumId})">Edit Profile</a>

        </form>
        
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
