@model ForumProject.Models.UserPoll
@inject IHttpContextAccessor Context
@{
    ViewData["Title"] = "Delete Poll";
}
<style>
    .body {
        font-family: Garamond;
        font-size: 16px;
    }

    .AddReplyPage {
        widht: 100%;
        height:;
        background-color:;
    }

    .navbar {
        width: 100%;
        height: 69px;
        top: 0px;
        margin: 0 auto; /* Center the navbar horizontally */
        background-color: #9FA8DA;
        position: absolute;
        left: 0px;
        float: right;
    }

        .navbar a {
            margin-top: -8px;
            float: right;
            margin-right: 10px;
            margin-left: -130px;
            padding: 12px;
            font-size: 18px;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
        }

            .navbar a:Hover {
                background-color: beige;
                color: black;
            }

        .navbar span {
            float: right;
            margin-right: 10px;
            padding: 20px;
            font-size: 18px;
            margin-top: -8px;
            color: #000;
            text-decoration: none;
        }

    .ConneKt {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-top: -8px;
        display: inline-block;
        font-family: Garamond;
    }

    .logBox {
        position: absolute;
        width: 442.76px;
        height: 377px;
        top: 122px;
        left: 35%;
        background: #D9D9D9;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .logintoyourAccount {
        text-align: center;
        font-family: 'Garamond';
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        color: #2D0F6A;
        margin-left: 28px;
    }

    .control-label {
        font-family: 'Garamond';
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #2D0F6A;
        margin-top: 15px;
    }

    .form-control {
        width: 100%;
        margin-top: 15px;
        height: 43px;
        background: #EEEEEE;
        border-radius: 13px;
        margin-bottom: 20px;
    }

    .loginButton {
        width: 112px;
        height: 35px;
        background: #531D97;
        border-radius: 25px;
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 35%;
        align-self: center;
    }

    .register {
        font-family: 'Garamond';
        font-style: italic;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: paleturquoise;
        align-self: center;
    }

    .logo {
        position: absolute;
        width: 74px;
        height: 69px;
        left: 0;
        top: 0;
    }

    .editBox {
        position: absolute;
        width: 500px;
        height: fit-content;
        top: 122px;
        margin-left: 34%;
        background: #EDE7F6;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .rectangle3 {
        width: 216px;
        height: 1024px;
        background-color: #9FA8DA;
        position: absolute;
        top: 69px;
        left: 0px;
    }

        /* Style the links in the rectangle */
        .rectangle3 a {
            margin-top: 15px;
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 18px;
            color: #000;
            text-decoration: none;
        }


            .rectangle3 a:hover {
                background: #5C6BC0;
                color: #fff;
            }
</style>

<body class="AddReplyPage">
    <div class="navbar">
        <em class="ConneKt">ConneKt Forum</em>
        <span></span><span>Hi! @Context.HttpContext.Session.GetString("UserName")</span>
        <a href="@Url.Action("ForumList", "User")">Forums</a>
        <a class="polls" href="@Url.Action("Polls","User")">Polls</a>
        <a class="contactUs">Contact Us</a>
        <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
    </div>
    <div class="rectangle3">
        @{
            string userEmail = Context.HttpContext.Session.GetString("UserEmail");
            int userId = Context.HttpContext.Session.GetInt32("UserId") ?? 0;
        }
        <a href="@Url.Action("DiscussionList", "User", new { Id = userEmail})" class="myForums btn-active btn-outline-primary">
            My Forums
        </a>

        <a class="myPolls">My Polls</a>
        <a class="myMemory">My Memories</a>
        <a href="@Url.Action("EditProfile","Login", new {Id = userId} )" class="editProfile">Edit Profile</a>
        <a href="@Url.Action("DeleteProfile","Login", new {Id = userId} )" class="deleteProfile">Delete Profile</a>
        <a class="newAccount" asp-action="SignUp" asp-controller="Login"> New Account</a>
    </div>
    <div class="editBox">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Question)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Question)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dd>
                @foreach (var option in Model.Options)
                {
                    <li style="font-size:14px;"><small class="text-muted" style="font-size:14px; " for="option_@option.Id">@option.OptionText</small></li>

                }
            </dd>
        </dl>
       
        <form asp-action="DeletePoll">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Polls">Back to List</a>
        </form>
    </div>

</body>

