@model IEnumerable<ForumProject.Models.ForumModel>
@inject IHttpContextAccessor Context;
@{
    ViewData["Title"] = "Discussion Forums";
}
<style>
    /* Set default font family and size */
    body {
        font-family: Garamond, sans-serif;
        font-size: 20px;
    }

    /* Set background color and size for the main container */
    .discussionList {
        width: 1440px;
        height: 1024px;
        background-color: #FFFFFF;
    }

    /* Style the navigation bar */
    .navbar {
        width: calc(100% - 216px);
        height: 69px;
        top:0px;
        margin: 0 auto; /* Center the navbar horizontally */
        background-color: #E9b5e7;
        position: absolute;
        left: 216px;
        float:right;
    }
        /* Align links to the right corner of navbar */
        .navbar a {
            margin-top:-8px;
            float: right;
            margin-right: 10px;
            margin-left: -130px;
            padding: 12px;
            font-size:22px;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
        }

            .navbar a:Hover {
                background-color: #FFFFFF;
                color: black;
            }

        .navbar span{
            float: right;
            margin-right: 10px;
            padding: 20px;
            font-size: 18px;
            margin-top:-8px;
            color: #000;
            text-decoration: none;
        }
    /* Style the logo image */
    .logo {
        width: 64px;
        height: 60px;
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
    }

    /* Style the ConneKt heading */
    .ConneKt {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-top: 20px;
        display: inline-block;
        font-family: Garamond;
    }

    /* Style the rectangle containing links */
    .rectangle3 {
        width: 216px;
        height: 1024px;
        background-color: #c4adcf;
        position: absolute;
        top: 0px;
        left: 0px;
    }

        /* Style the links in the rectangle */
        .rectangle3 a {
            margin-top:15px;
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            color: #000000;
            text-decoration: none;
        }


            .rectangle3 a:hover {
                background: #fff;
                color: #000;
            }


    /* Style the table */
    .table, .card {
        width: calc(100% - 382px);
        margin-top: 3%;
        border-collapse: collapse;
        margin-left:5%;
        left:216px;
        border-radius:7px;
    }

        .table th,
        .table td 
        .table tr{
            padding: 10px;
            text-align: center;
            width: calc(100% - 216px);
            left:216px;
            justify-content: center;
            font-family: Garamond;
            
        }

        .table th {
            background-color: #E7D1E6;
            color: #000000;
            justify-content: center;
            text-align:center;
            font-weight:800;
            font-size: 20px;
        }
        .table td{
            justify-content: center;
            text-align:center;
        }

            .table td.forum-id,
            .table th.forum-id {
                width: 0%;
            }

            .table td.id,
            .table th.id {
                width: 10%;
            }

            .table td.category,
            .table th.category {
                width: 30%;
            }

            .table td.title,
            .table th.title {
                width: 35%;
            }

            .table td.content,
            .table th.content {
                width: 0%;
            }

            .table td.forum-created,
            .table th.forum-created {
                width: 15%;
            }

            .table td.actions,
            .table th.actions {
                width: 10%;
                text-align: center;
            }

    .btn {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 4px;
        text-decoration: none;
        cursor:pointer;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }
    .container{
        width: calc(100%-216px);
        display:flex;
        justify-content:center;
    }

    .searchBox {
        width: 180px;
        margin-top: 7.5%;
        margin-left: 25%;
        left: 216px;
        border-radius: 27px;
        display: inline-block;

    }

        .searchBox input[type="text"] {
            background:#f1f1f1;
            border: 1px solid #ccc;
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            width: 300px;
            display: inline-block;
        }

    .createForum{
        left: 216px;
        margin-left:289px;
        margin-top:108px;

    }

    .card:nth-child(even) {
        background-color: #EEEFFF;
    }

    .card:nth-child(odd) {
        background-color: #ffffff;
    }
    .text-muted{
        color:blue;
    }

    .myForums{
        background-color: #F3D1DC;
        color:#fff
    }
</style>
<body>
        <div class="discussionList">
            <div class="navbar">
                <span></span><span>Hi! @Context.HttpContext.Session.GetString("UserName")</span>
                <a href="@Url.Action("ForumList", "User")">Forums</a>
            <a class="polls" href="@Url.Action("Polls","User")">Polls</a>
                <a class="contactUs">Contact Us</a>
                <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
            </div>

            <div class="rectangle3">
                <img src="~/css/logo.png" class="logo" />
                <p class="ConneKt">ConneKt</p>
            @{
                string userEmail= Context.HttpContext.Session.GetString("UserEmail");
                int userId = Context.HttpContext.Session.GetInt32("UserId") ?? 0;
            }
            <a href="@Url.Action("DiscussionList", "User", new { Id = userEmail})" class="myForums btn-active btn-outline-primary">
                My Forums
            </a>

                <a class="myPolls" >My Polls</a>
                <a class="myMemory">My Memories</a>
                <a href="@Url.Action("EditProfile","Login", new {Id = userId} )" class="editProfile">Edit Profile</a>
                <a href="@Url.Action("DeleteProfile","Login", new {Id = userId} )" class="deleteProfile">Delete Profile</a>
                <a class="newAccount" asp-action="SignUp" asp-controller="Login"> New Account</a>
            </div>
        @using (Html.BeginForm())
        {
            <!--p class="searchBox">
                Search by keyword: @Html.TextBox("searchString")
                <br/>
                <br/>
                <input type="submit" class="btn btn-outline-success" value="Search" />
            </!--p-->
        }
        <a asp-action="Create" asp-controller="User" class="createForum btn btn-outline-primary">Create New Forum</a>
            <table class="table">
                <tbody>
                    @if(Model != null){
                    @foreach (var item in Model)
                    {
                        <tr>
                            <div class="card">
                                <div class="card-body" style="font-family:Garamond; font-size:20px;">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.title)</h5>
                                    <p class="card-text">
                                        <small class="text-muted">@Html.DisplayFor(modelItem => item.Email) | @Html.DisplayFor(modelItem => item.forumCreated)</small>
                                    </p>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.content)</p>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text" style="color: #5084AA">
                                            <small class="text-muted" >@Html.DisplayFor(modelItem => item.category)</small>
                                        </p>
                                        <div class="btn-group">
                                            <a class="btn btn-outline-secondary" href="@Url.ActionLink("AddReply", "User", new {id = item.forumId})">Look Into</a>
                                            <a class="btn btn-light btn-outline-primary" href="@Url.ActionLink("EditForum", "User", new {id = item.forumId})">Edit</a>
                                            <a class="btn btn-outline-danger" href="@Url.ActionLink("DeleteForum", "User", new {id = item.forumId})">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        }}
                    </tbody>
                </table>
            </div>
        </div>    
</body>
