@model ForumProject.Models.ForumModel
@inject IHttpContextAccessor Context
@{
    ViewData["Title"] = "EditForum";
}
<style>
    .body {
        font-family: Garamond;
        font-size: 16px;
    }

    .AddReplyPage {
        widht: 100%;
        height:;
        background-color:;
    }

    .navbar {
        width: 100%;
        height: 69px;
        top: 0px;
        margin: 0 auto; /* Center the navbar horizontally */
        background-color: #B2EBF2;
        position: absolute;
        left: 0px;
        float: right;
    }

        .navbar a {
            margin-top: -8px;
            float: right;
            margin-right: 10px;
            margin-left: -130px;
            padding: 12px;
            font-size: 18px;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
        }

            .navbar a:Hover {
                background-color: beige;
                color: black;
            }

        .navbar span {
            float: right;
            margin-right: 10px;
            padding: 20px;
            font-size: 18px;
            margin-top: -8px;
            color: #000;
            text-decoration: none;
        }

    .ConneKt {
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-top: -8px;
        display: inline-block;
        font-family: Garamond;
    }

    .logBox {
        position: absolute;
        width: 442.76px;
        height: 377px;
        top: 122px;
        left: 35%;
        background: #D9D9D9;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .logintoyourAccount {
        text-align: center;
        font-family: 'Garamond';
        font-weight: 800;
        font-size: 24px;
        line-height: 26px;
        color: #2D0F6A;
        margin-left: 28px;
    }

    .control-label {
        font-family: 'Garamond';
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #2D0F6A;
        margin-top:15px;
    }

    .form-control {
        width: 100%;
        margin-top: 15px;
        height: 43px;
        background: #EFEDED;
        border-radius: 13px;
        margin-bottom: 20px;
    }

    .loginButton {
        width: 112px;
        height: 35px;
        background: #531D97;
        border-radius: 25px;
        color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 35%;
        align-self: center;
    }

    .register {
        font-family: 'Garamond';
        font-style: italic;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: paleturquoise;
        align-self: center;
    }

    .logo {
        position: absolute;
        width: 74px;
        height: 69px;
        left: 0;
        top: 0;
    }
    .editBox{
        position: absolute;
        width: 700px;
        height: 100%;
        top: 122px;
        left: 1;
        background: #F2FCF0;
        border-radius: 27px;
        transform: rotate(-0.05deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
    }
</style>

<body class="AddReplyPage">
    <div class="navbar">
        <em class="ConneKt">ConneKt Forum</em>
        <span></span><span>Hi! @Context.HttpContext.Session.GetString("UserName")</span>
        <a href="@Url.Action("ForumList", "User")">Forums</a>
        <a class="polls" href="@Url.Action("Polls","User")">Polls</a>
        <a class="contactUs">Contact Us</a>
        <a asp-action="Login" asp-controller="Login" class="LogOut">Log Out</a>
    </div>
    <div class="rectangle3">
        @{
            string userEmail = Context.HttpContext.Session.GetString("UserEmail");
            int userId = Context.HttpContext.Session.GetInt32("UserId") ?? 0;
        }
        <a href="@Url.Action("DiscussionList", "User", new { Id = userEmail})" class="myForums btn-active btn-outline-primary">
            My Forums
        </a>

        <a class="myPolls">My Polls</a>
        <a class="myMemory">My Memories</a>
        <a href="@Url.Action("EditProfile","Login", new {Id = userId} )" class="editProfile">Edit Profile</a>
        <a href="@Url.Action("DeleteProfile","Login", new {Id = userId} )" class="deleteProfile">Delete Profile</a>
        <a class="newAccount" asp-action="SignUp" asp-controller="Login"> New Account</a>
    </div>
    <div class="editBox">
        <div>
            <form asp-action="EditForum">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="forumId" class="control-label"></label>
                    <input asp-for="forumId" class="form-control" />
                    <span asp-validation-for="forumId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="category" class="control-label"></label>
                    <input asp-for="category" class="form-control" />
                    <span asp-validation-for="category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="content" class="control-label"></label>
                    <textarea asp-for="content" style="line-height:normal" class="form-control"></textarea>
                    <span asp-validation-for="content" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="forumCreated" class="control-label"></label>
                    <input asp-for="forumCreated" class="form-control" />
                    <span asp-validation-for="forumCreated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
