@model ForumProject.Models.DiscussionViewModel

@{
    ViewData["Title"] = "ForumAndReplies";
}
<h2>@ViewBag.Discussion.topic</h2>
<p>@ViewBag.Discussion.description</p>

<hr />

@if (ViewBag.Replies.Count > 0)
{
    foreach (var reply in ViewBag.Replies)
    {
        <div class="reply border-1">
            <p>@reply.Content</p>
            <p class="text-muted small">Replied by: @reply.Email on @reply.ReplyCreated.ToString("dd/MM/yyyy")</p>
        </div>
        <hr />
    }
}
else
{
    <p>No replies yet.</p>
}


<h3>Reply to this discussion</h3>
@using (Html.BeginForm("ForumAndReplies", "User"))
{
    @Html.HiddenFor(model => model.NewReply.DiscussionId)
    @Html.LabelFor(model => model.NewReply.Email)
    @Html.TextBoxFor(model => model.NewReply.Email, new { @class = "form-control" })
    @Html.LabelFor(model => model.NewReply.Content)
    @Html.TextAreaFor(model => model.NewReply.Content, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary" >Submit</button>
}
